#cloud-config
# vim: syntax=yaml
# examples:
# https://cloudinit.readthedocs.io/en/latest/topics/examples.html
ssh_pwauth: false
disable_root: false
users:
  - name: {{ vm_user }}
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin
    home: "/home/{{ vm_user }}"
    shell: /bin/bash
    lock_passwd: false
    ssh-authorized-keys:
      - {{ vm_authorized_ssh }}
chpasswd:
  list: |
    root:{{ vm_root_password }}
    {{ vm_user }}:{{ vm_root_password }}
  expire: false
final_message: "The system is finally up, after $UPTIME seconds"
